.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridBox {
  margin: 4vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 30vw;
  height: 30vw;
  background-color: #5aa897;

  box-shadow: 10px 10px 10px #232a38;
  border: 0.4vw #45526c solid;
  border-radius: 2vw;
}

@media screen and (max-width: 768px) {
  .GridBox {
    width: 90vw;
    height: 90vw;
  }
}

.Grid {
  width: 16%;
  height: 16%;

  margin: 2%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  font-size: 2.5vw;

  box-shadow: 0 0 0 0.1vw darkslategray;
  border-radius: 30%;

  user-select: none;

  background-color: #f8f5f1;
}

.Grid:active {
  background-color: #f8a488;
  transform: scale(1.2);
}

.TimerBox {
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}
