.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridBox {
  width: 210px;
  height: 210px;
  background-color: mediumturquoise;
  border-radius: 20px;
  padding: 10px;
}

.Grid {
  width: 30px;
  height: 30px;

  margin: 4px;
  display: inline-block;

  text-align: center;
  line-height: 30px;

  border: 2px darkslategray solid;
  border-radius: 10px;

  user-select: none;

  transition: all;
  transition-duration: 0.1s;
}

.Grid:active {
  transform: translateY(4px);
}

.TimerBox {
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}
