body {
  background-color: #e0e0e0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridBox {
  margin: 4vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 30vw;
  height: 30vw;
  background-color: #5aa897;

  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.Grid {
  width: 16%;
  height: 16%;

  margin: 2%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #e0e0ca;
  font-family: sans-serif;
  font-size: 180%;

  border-radius: 30%;

  user-select: none;

  background-color: #948585;
}
/* 
.Grid:active {
  background-color: #644a4a;
  transform: scale(1.2);
} */

.TimerBox {
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .GridBox {
    width: 90vw;
    height: 90vw;
  }
}
